*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
.history
.ionide
htdoc/*
python/*
server/mariadb/data/*
server/mongodb/data/*
server/postgres/data
server/rabbitmq/data/*
.env