DOCUMENTROOT=./htdoc
SERVER_USER_NAME=ekocahyo
SERVER_UID=1000
SERVER_GID=1000
DOCKER_RESTART=no
MYSQL_ROOT_PASSWORD=password
MYSQL_USER=user
MYSQL_PASSWORD=password
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
POSTGRES_USER=user
POSTGRES_PASSWORD=password